.btn-success {
  background-color: #4DAF51;
  color:white;
  margin-right: 2px;
}
.btn-warning {
  background-color: #F53503;
  color:white;
}

mat-progress-spinner {
  float:left;
  margin: 10px 5px 0px -10px;
}

.cont-term-cond {
  text-align: center;
}
