.guaranteeHeaderContainer {
  width: 97%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . endAttentionButton";
  column-gap: 5px;
}
.endAttentionButton { grid-area: endAttentionButton ;}

