
th.mat-header-cell, td.mat-cell {
  text-align: center;
  border: 1px solid #CCC;
  padding: 0 !important;
}


.mat-header-cell, .mat-footer-cell, .mat-cell {
  box-sizing: border-box;
}

.example-sticky-toggle-group {
  margin: 8px;
}

th.mat-sort-header-sorted {
  color: black;
}

.header-row {
  background-color: #da291c;
}

.mat-header-cell {
  color: white;
}


table.mat-table {
  border-spacing: 0;
  padding: 1%;
  width:100%
}



